mixin table-tree(categories, level = 1)
    each item, index in categories
        - const prefix = Array(level + 1).join("-- ")
        tr
            td 
                input(type="checkbox", name="id" value=item._id)
            td.text-secondary #{index + 1}
            td
                img(src=`${item.thumbnail}` alt=item.title class="img-thumbnail rounded" style="width: 80px; height: 50px; object-fit: cover;")
            td.fw-semibold.text-muted #{prefix}#{item.title}
            td.fw-semibold.text-muted !{item.description}
            td 
                input(type="number" value=item.position style="width: 60px;" min="1" name="position")
            td
                if(item.status == "active")
                    a.badge.bg-success.bg-opacity-25.text-success.px-2.py-1.rounded(href="javascript:;" data-status=item.status data-id=item._id button-chang-status) Hoat dong
                else 
                    a.badge.bg-danger.bg-opacity-25.text-danger.px-2.py-1.rounded(href="javascript:;" data-status=item.status data-id=item._id button-chang-status) Dung hoat dong
            td.d-flex.gap-1
                a.btn.btn-warning.btn-sm.text-white.px-2.py-1(href=`${prefixAdmin}/categories/edit/${item._id}` button-edit) Sửa
                if(item.deleted == false)
                    button.btn.btn-danger.btn-sm.px-2.py-1(data-id=item.id buttonDelete) Xóa
                a.btn.btn-dark.btn-sm.text-white.px-2.py-1(href=`${prefixAdmin}/categories/detail/${item._id}` button-detail) Chi tiet
                if(item.deleted == true)
                    button.btn.btn-primary.btn-sm.px-2.py-1(data-id=item._id button-restore) Khoi phuc
        if(item.children && item.children.length > 0)
            +table-tree(item.children, level + 1)