extends ../../layouts/default.pug
include ../../mixins/message-success.pug
include ../../mixins/tinymce.pug
include ../../mixins/select_tree.pug

block main
  +message-error(3000)

  h1 Chinh sua san pham

  form(
    action =`${prefixAdmin}/products/edit/${product.id}?_method=PATCH`
    id="form-create-product"
    method="POST"
    enctype="multipart/form-data"
  ) 
    .form-group.my-2 
      label(for="title") Tieu de 
      input(type="text" class="form-control" id="title" name="title" value=product.title)
    
    .form-group 
      label(for="product_category_id") Ma danh muc 
      select(name="product_category_id" id="product_category_id" class="form-control")
        option(value=`` disable) == Chon danh muc ==
        +select_tree(newList,1,product.product_category_id) 

    +tinymce("Mô tả san pham", "desc", "description", 5, product.description)
    
    .form-group.my-2 
      label(for="price") Gia
      input(type="number" class="form-control" id="price" name="price" min="0" value=product.price)

    .form-group.my-2 
      label(for="discountPercentage") % Gia gia
      input(type="number" class="form-control" id="discountPercentage" name="discountPercentage" min="0" step="0.01" value=product.discountPercentage)
    
    .form-group.my-2 
      label(for="stock") So luong
      input(type="number" class="form-control" id="stock" name="stock" min="0" value=product.stock)

    .form-group(upload-image).my-2 
      label(for="thumbnail") Ảnh
      br
      input(upload-image-input type="file" class="form-control-file" id="thumbnail" name="thumbnail" accept="image/*")
      br
      .position-relative.d-inline-block.mt-2
        img(
          upload-image-preview 
          class="img-thumbnail" 
          style="width: 300px; height: 200px; object-fit: cover;" 
          src=product.thumbnail
          alt="Ảnh sản phẩm"
        )
        button.btn.btn-sm.btn-danger.position-absolute.top-0.end-0.m-1(
          type="button" 
          btn-delete-preview 
          class=(product.thumbnail ? "" : "d-none")
        ) X

      
    .form-group.my-2
      label(for="position") Vi tri
      input(type="number" class="form-control" id="position" name="position" placeholder="Tu dong tang" min="1" value=product.position)

    .form-group.form-check.form-check-inline.my-2 
      input(type="radio" class="form-check-input" id="statusActive" name="status" value="active" checked=(product.status == "active" ? true:false))
      label(for="statusActive" class="form-check-label") Hoat dong
    
    .form-group.form-check.form-check-inline.my-2
      input(type="radio" class="form-check-input" id="statusInactive" name="status" value="inactive" checked=(product.status == "inactive" ? true:false))
      label(for="statusInactive" class="form-check-label") Dung hoat dong

    .form-group.my-2
      button.btn.btn-primary(type="submit") Cap nhat
    
    script(src="/admin/js/product.js")